name: "Run tests"

on:
  push:
    branches:
      - "master"

  pull_request_target:
    branches:
      - "master"

jobs:

    run-tests:
      name: "Run tests with Python ${{ matrix.python-version }} on ${{ matrix.os }}"
      strategy:
        matrix:
          python-version: [ '3.9', '3.13' ]
          os: [ "ubuntu-22.04", "ubuntu-24.04", "windows-latest" ]
        fail-fast: false

      runs-on: "${{ matrix.os }}"

      steps:

        - name: "Checkout PR"
          uses: "actions/checkout@v4"
          if: github.event_name == 'pull_request_target'
          with:
            ref: refs/pull/${{ github.event.pull_request.number }}/merge

        - name: "Checkout Branch"
          uses: "actions/checkout@v4"
          if: github.event_name == 'push'

        - name: "Set up Python ${{ matrix.python-version }}"
          uses: "actions/setup-python@v5"
          with:
            python-version: "${{ matrix.python-version }}"

        - name: "Install test dependencies"
          run: |
            pip install -r dev-requirements.txt coveralls

        - name: "Check style"
          run: |
            make check

        - name: "Install SWI-Prolog"
          run: |
            sudo apt-get install -y swi-prolog-nox

        - name: "Run tests"
          env:
            GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          run: |
            make check
            make coverage
            make upload-coverage
